.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* large phones and small tablets */
/* 500px / 16px = 31.25em */
@media screen and (min-width: 31.25em) {
  #login {
    width: 25% ;
  }
  .btn {
    margin-left: 14em;
  }
 
}

/* tablets and small monitors */
/* 800px / 16px = 50em */
@media screen and (min-width: 50em) {

}

/* laptops and desktops */
/* 1200px / 16px = 75em */
@media screen and (min-width: 75em) {

  .btn {
    margin-left: 10em;
  }
}